@tailwind base;
@tailwind components;
@tailwind utilities;

.alert {
    @apply px-4 py-3 rounded relative;
}

.alert-success {
    @apply bg-green-100 border border-green-400 text-green-700;
}

.alert-danger {
    @apply bg-red-100 border border-red-400 text-red-700;
}

.alert-info {
    @apply bg-gray-100 border border-gray-400 text-gray-700;
}

.slider {
    width: 16.5rem;
    text-align: center;
    overflow: hidden;
}

.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

}
.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
    background: transparent;
}
.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: auto;
    height: 30rem;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.slider > button {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: rgb(229, 228, 228);
    color: rgb(41, 74, 45);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
}

@supports (scroll-snap-type) {
    .slider > a {
        display: none;
    }
}

routine-image-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.slide img {
    height: 30rem;
    width: auto;
    margin: auto;
}

.changing-content {
    opacity: 0;
    transition: opacity 600ms;
}

.changing-content.show {
    opacity: 1;
}