<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<div layout:fragment="page-content">
<section class="py-4">
    <div class="flex min-h-full flex-col justify-center px-2 py-2 lg:px-8">
        <h2 class="text-3xl font-bold text-green-800 mb-2 text-center font-ubuntu">
            Add Score
        </h2>
        <div class="sm:mx-auto sm:w-full sm:max-w-lg">
            <form
                    id="add-score-form"
                    th:action="@{/addscore}"
                    th:object="${score}"
                    method="post"
                    class="space-y-6">
                <div class="px-8 py-4 border-solid border-2 rounded-md bg-stone-100 drop-shadow-xl border-solid border-4 border-green-800">
                    <label for="scoreRoutineSelector" class="block text-sm font-medium leading-6 text-gray-900">Routine</label>
                    <div class="mt-2">
                        <select th:field="*{routineId}" name="routineNames" id="scoreRoutineSelector" required class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            <option th:each="routine : ${routines}" th:value="${routine.id}" th:text="${routine.title}" th:selected="${routine.id.equals(selectedRoutineId)}">[[ ${routine.title} ]]</option>
                        </select>
                    </div>
                </div>
                <input type="hidden" th:field="*{playerUsername}" id="playerUsername">
                <div class="px-8 py-4 border-solid border-2 rounded-md bg-stone-100 drop-shadow-xl border-solid border-4 border-green-800">
                    <label for="scoreDateTime" class="block text-sm font-medium leading-6 text-gray-900">Date & time</label>
                    <div class="mt-2">
                        <input th:field="*{dateOfAttempt}" id="scoreDateTime" name="score-date-time" type="datetime-local" required class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>
                <div id="variationsHolder" class="changing-content show">
                    <div th:replace="~{fragments/addScoreVariations :: scoreVariations}"></div>
                </div>
                <div class="px-8 py-4 border-solid border-2 rounded-md bg-stone-100 drop-shadow-xl border-solid border-4 border-green-800">
                    <label for="scoreNotes" class="block text-sm font-medium leading-6 text-gray-900">Notes/Comments</label>
                    <div class="mt-2">
                        <input th:field="*{note}" id="scoreNotes" name="note" type="text" placeholder="e.g. which pot did you miss?" class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>
                <div class="px-8 py-4 border-solid border-2 rounded-md bg-stone-100 drop-shadow-xl border-solid border-4 border-green-800">
                    <label id="scoreUnitLabel" for="scoreValue" class="block text-sm font-medium leading-6 text-gray-900">Score</label>
                    <div class="mt-2">
                        <input id="scoreValue" min="0" name="scoreValue" type="number" required class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>
                <div>
                    <button type="submit" class="flex w-full justify-center rounded-md bg-green-800 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-green-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Submit score</button>
                </div>
            </form>
        </div>
    </div>
</section>
</div>