<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<div layout:fragment="page-content">
    <section class="py-4 pb-8 md:pb-10 md:py-10">
        <div class="max-w-7xl mx-auto flex flex-col md:flex-row">
            <div class="flex-1">
                <img class="w-5/6 md:w-auto h:auto md:h-[350px] m-auto rounded-3xl" src="images/lineup-hero-image.jpg">
            </div>
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col flex-1 items-center">
                <div class="text-center">
                    <h1
                            id="heroTitle" class="m-4 font-sigmar text-3xl font-extrabold text-red-500 drop-shadow-crisp sm:text-5xl md:text-6xl"
                    >
                        Level up your snooker
                    </h1>
                    <p class="my-4 text-xl text-green-700">
                        Track your progress on practice routines.
                    </p>
                    <p class="my-4 text-xl text-green-700">
                        Become a better player with SnookerUp.
                    </p>
                    <button class="bg-green-300 border-solid border-2 border-green-800 hover:bg-green-700 mt-5 px-8 py-4 rounded-lg text-center text-xl text-green-700 hover:text-green-300">
                        <a th:href="@{/register}">SIGN UP NOW</a>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-xl lg:container m-auto">
            <h2 class="text-3xl font-bold text-green-800 mb-6 text-center font-ubuntu">
                HOW IT WORKS
            </h2>
            <div class="grid grid-cols-1 md:grid-cols-4 gap-4 p-4 rounded-lg">
                <div class="bg-green-700 bg-texture text-stone-50 drop-shadow-xl border-solid border-4 border-brown p-6 rounded-lg shadow-md">
                    <h2 class="text-2xl font-bold text-center font-ubuntu drop-shadow-crisp">BROWSE</h2>
                    <img class="h-20 w-auto m-auto mt-5 mb-5 drop-shadow-crisp" src="images/browse-icon.svg"/>
                    <p class="mt-2 mb-4 text-center drop-shadow-crisp">
                        Search our vast catalogue of routines for a routine that aims to improve part of the game you struggle with
                    </p>
                </div>
                <div class="bg-green-700 bg-texture text-stone-50 drop-shadow-xl border-solid border-4 border-brown p-6 rounded-lg shadow-md">
                    <h2 class="text-2xl font-bold text-center font-ubuntu drop-shadow-crisp">PLAY</h2>
                    <img class="h-20 w-auto m-auto mt-5 mb-5 drop-shadow-crisp" src="images/complete-icon.svg"/>
                    <p class="mt-2 mb-4 text-center drop-shadow-crisp">
                        Go to your local club and try out your selected routine a few times
                    </p>
                </div>
                <div class="bg-green-700 bg-texture text-stone-50 drop-shadow-xl border-solid border-4 border-brown p-6 rounded-lg shadow-md">
                    <h2 class="text-2xl font-bold text-center font-ubuntu drop-shadow-crisp">RECORD</h2>
                    <img class="h-20 w-auto m-auto mt-5 mb-5 drop-shadow-crisp" src="images/record-icon.svg"/>
                    <p class="mt-2 mb-4 text-center drop-shadow-crisp">
                        After each attempt, add your score to your SnookerUp profile (don't worry about mistakes, scores are private to yourself!)
                    </p>
                </div>
                <div class="bg-green-700 bg-texture text-stone-50 drop-shadow-xl border-solid border-4 border-brown p-6 rounded-lg shadow-md">
                    <h2 class="text-2xl font-bold text-center font-ubuntu drop-shadow-crisp">ANALYSE</h2>
                    <img class="h-20 w-auto m-auto mt-5 mb-5 drop-shadow-crisp" src="images/analyse-icon.svg"/>
                    <p class="mt-2 mb-4 text-center drop-shadow-crisp">
                        Keep practising the routines, and over time you'll see your progress and how your scores improve!
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="px-4 py-10">
        <div class="container-xl lg:container m-auto">
            <h2 class="text-3xl font-bold text-green-800 mb-6 text-center font-ubuntu">
                SAMPLE ROUTINE
            </h2>
            <div class="bg-green-100 bg-texture-faded grid grid-cols-1 md:grid-cols-2 gap-6 bg-white max-w-4xl m-auto p-6 rounded-lg shadow-md border-solid border-2 border-neutral-500">
                <img class="h-routine w-auto m-auto" src="images/clearing-the-colours.png"/>
                <div>
                    <h1 class="text-2xl font-bold text-green-800 mb-4 font-ubuntu">Clearing the Colours</h1>
                    <p class="text-m text-green-700 m-6 ml-2 mr-2">Put all colours on their spots, then try to clear them in order, i.e. yellow, green, brown, blue, pink, black.</p>
                    <p class="text-m text-green-700 m-6 ml-2 mr-2">Try a variation to change the difficulty of this routine:</p>
                    <ul class="text-m text-green-700 m-4 mb-6">
                        <li class="m-2"><strong>As a loop:</strong> Complete the routine, but with your last shot of the routine, play position for the first shot again, then carry on.</li>
                        <li class="m-2"><strong>Limit the number of cushions you can hit:</strong> Try to complete the routine either without hitting a routine at all, or with at most a fixed number of cushions, e.g. 3, 5, or 7.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="m-auto max-w-lg my-10 px-6">
        <a
                th:href="@{/routines}"
                class="block bg-green-800 text-white text-center py-4 px-6 rounded-xl hover:bg-gray-700"
        >Browse Routines</a
        >
    </section>
</div>
</html>