<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<div layout:fragment="page-content">
    <section class="py-4 pb-8 md:pb-10 md:py-10">
        <div class="max-w-7xl mx-auto flex flex-col md:flex-row">
            <div class="flex-1">
                <img class="w-5/6 md:w-auto h:auto md:h-[350px] m-auto rounded-3xl" src="images/lineup-hero-image.jpg">
            </div>
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col flex-1 items-center">
                <div class="text-center">
                    <h1
                            id="heroTitle" class="m-4 font-sigmar text-3xl font-extrabold text-red-500 drop-shadow-crisp sm:text-5xl md:text-6xl"
                    >
                        Level up your snooker
                    </h1>
                    <p class="my-4 text-xl text-green-700">
                        Track your progress on practice routines.
                    </p>
                    <p class="my-4 text-xl text-green-700">
                        Become a better player with SnookerUp.
                    </p>
                    <p class="my-4 text-xl text-green-700">
                        Coming Soon...
                    </p>
                </div>
            </div>
        </div>
    </section>

</div>
</html>