<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">
<div layout:fragment="page-content">
    <section class="px-4 py-10">
        <div th:if="!${routine}" class="container-xl lg:container m-auto">
            <h2 class="text-3xl font-bold text-green-800 mb-2 text-center font-ubuntu">
                Routine Not Found
            </h2>
            <p class="text-m text-green-700 m-12 text-center">Requested routine does not exist</p>
        </div>
        <div th:if="${routine}" class="container-xl lg:container m-auto">
            <h2 class="text-3xl font-bold text-green-800 mb-2 text-center font-ubuntu">
                [[${routine.title}]]
            </h2>
            <div sec:authorize="isAuthenticated()" class="m-auto max-w-lg my-10 px-6 flex gap-6">
                <a
                        th:href="@{/addscore}"
                        class="flex-grow bg-green-500 text-white text-center py-4 px-6 rounded-xl hover:bg-green-700 border-solid border-2 border-green-800 "
                >Add Score</a
                >
                <a
                        th:href="@{/scores}"
                        class="flex-grow bg-green-500 text-white text-center py-4 px-6 rounded-xl hover:bg-green-700 border-solid border-2 border-green-800 "
                >View Scores</a
                >
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 max-w-4xl m-auto p-6">
                <img th:if="${routine.otherImages.size() == 1}" class="h-routine w-auto mt-0 m-auto" th:src="${routine.otherImages.get(0)}"/>
                <div th:if="${routine.otherImages.size() > 1}" class="routine-image-slider h-routine w-auto mt-0 m-auto">
                    <div class="slider">

                        <button th:each="otherImage,iter : ${routine.otherImages}" class="slideNumberButton">[[${iter.index + 1}]]</button>

                        <div class="slides" id="slidesContainer">
                            <div th:each="otherImage,iter : ${routine.otherImages}" class="slide">
                                <img th:src="${routine.otherImages.get(iter.index)}">
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <span th:each="tag : ${routine.tags}" class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-green-600/20 ring-inset mx-1">[[${tag}]]</span>
                    <p th:each="descriptionLine : ${routine.descriptionLines}" class="text-m text-green-700 m-6 ml-2 mr-2">[[${descriptionLine}]]</p>
                    <p th:if="${!routine.variationsLinesEasier.isEmpty()}" class="text-m text-green-700 m-6 ml-2 mr-2">Make the routine easier by:</p>
                    <ul th:if="${!routine.variationsLinesEasier.isEmpty()}" class="list-disc text-m text-green-700 m-4 mb-6">
                        <li th:each="variationsLineEasier : ${routine.variationsLinesEasier}" class="m-2">[[${variationsLineEasier}]]</li>
                    </ul>
                    <p th:if="${!routine.variationsLinesHarder.isEmpty()}" class="text-m text-green-700 m-6 ml-2 mr-2">Make the routine harder by:</p>
                    <ul  th:if="${!routine.variationsLinesHarder.isEmpty()}" class="list-disc text-m text-green-700 m-4 mb-6">
                        <li th:each="variationsLineHarder : ${routine.variationsLinesHarder}" class="m-2">[[${variationsLineHarder}]]</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>