<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<div layout:fragment="page-content">
    <section class="pt-6 pb-4">
        <div class="container-xl lg:container m-auto">
            <h2 class="text-3xl font-bold text-green-800 mb-2 text-center font-ubuntu">
                Scores
            </h2>
            <div class="text-center text-xs flex flex-col md:flex-row justify-center">
                <div class="m-2 text-center py-4 border-solid border-2 rounded-md border-green-800">
                    <p class="inline ml-4">Routine:</p>
                    <select id="routineIdSelector" name="routineNames" class="text-xs inline rounded-md border-0 py-2 md:py-0.5 px-4 mx-4 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        <option value="all"th:selected="${selectedRoutineId == null}">All routines</option>
                        <option th:each="routine : ${routines}" th:value="${routine.id}" th:text="${routine.title}" th:selected="${routine.id.equals(selectedRoutineId)}">[[ ${routine.title} ]]</option>
                    </select>
                </div>
                <div class="items-center m-2 flex flex-col md:flex-row text-center py-2 md:py-4 border-solid border-2 rounded-md border-green-800">
                    <div class="pb-2 md:pb-0">
                        <p class="inline ml-4">From:</p>
                        <input class="mx-1 text-lg md:text-xs" type="datetime-local" id="fromDateTime" />
                    </div>
                    <div>
                        <p class="inline">To:</p>
                        <input class="mx-1 text-lg md:text-xs" type="datetime-local" id="toDateTime" />
                    </div>
                </div>
                <button id="showHideVariationsButton" class="m-4 p-2 px-4 mx-4 text-white bg-green-800 hover:bg-green-950 hover:text-white rounded-md px-3 py-2 border-solid border-2 border-green-800">Show/Hide Variations</button>
                <button id="searchButton" class="m-4 p-2 px-4 mx-4 text-white bg-green-800 hover:bg-green-950 hover:text-white rounded-md px-3 py-2 border-solid border-2 border-green-800">Search</button>
            </div>
            <div id="variationsBlock" class="hidden flex flex-wrap px-6 py-6 mx-4 border-solid border-2 rounded-md border-green-800">
                <div class="my-1 md:my-0 bg-lime-100 border-2 rounded-md border-lime-200 mx-2 py-1 px-2">
                    <input id="loop" type="checkbox" value="" class="align-middle w-4 h-4 accent-green-700">
                    <label for="loop" class="ml-1 font-medium text-gray-900 dark:text-gray-300">In a loop?</label>
                </div>
                <div class="my-1 md:my-0 bg-lime-100 border-2 rounded-md border-lime-200 mx-2 py-1 px-2">
                    <input id="cushionLimit" type="checkbox" value="" class="align-middle w-4 h-4 accent-green-700">
                    <label for="cushions" class="ml-1 mr-2 font-medium leading-6 text-gray-900">Cushion limit?</label>
                    <input id="cushions" name="cushions" value="0" type="number" class="inline px-4 w-20 rounded-md border-0 py-1 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div class="my-1 md:my-0 bg-lime-100 border-2 rounded-md border-lime-200 mx-2 py-1 px-2">
                    <input id="redballsLimit" type="checkbox" value="" class="align-middle w-4 h-4 accent-green-700">
                    <label for="redballs" class="ml-1 mr-2 font-medium leading-6 text-gray-900">Reds/Balls limit?</label>
                    <input id="redballs" name="cushions" value="0" type="number" class="inline px-4 w-20 rounded-md border-0 py-1 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <div class="my-1 md:my-0 bg-lime-100 border-2 rounded-md border-lime-200 mx-2 py-1 px-2">
                    <input id="potinorder" type="checkbox" value="" class="align-middle w-4 h-4 accent-green-700">
                    <label for="potinorder" class="ml-1 font-medium text-gray-900 dark:text-gray-300">Pot in order?</label>
                </div>
                <div class="my-1 md:my-0 bg-lime-100 border-2 rounded-md border-lime-200 mx-2 py-1 px-2">
                    <input id="stayononeside" type="checkbox" value="" class="align-middle w-4 h-4 accent-green-700">
                    <label for="stayononeside" class="ml-1 font-medium text-gray-900 dark:text-gray-300">Stay on one side of table?</label>
                </div>
            </div>
            <div th:if="${pageOfScores.scoresForDays.isEmpty()}">
                <p class="text-center my-10">No scores to display. Please try again with different search terms.</p>
            </div>
            <div th:each="scoresForDay : ${pageOfScores.getScoresForDays()}">
                <p class="text-lg p-2 mt-10 mb-4 text-left font-bold text-green-900">[[ ${scoresForDay.date}]]</p>
                <div th:each="score : ${scoresForDay.getScores()}">
                    <div class="flex m-2 p-4 border-solid border-4 rounded-md border-green-800 bg-green-200/20 drop-shadow-xl">
                        <div class="flex-1">
                            <div class="flex flex-row">
                                <div class="flex flex-col md:flex-row flex-auto">
                                    <p class="text-xl flex-auto">[[ ${score.routineTitle }]]</p>
                                    <p class="flex-auto">[[ ${score.timeOfDay} ]]</p>
                                </div>
                                <p class="text-xl flex-auto text-right font-bold">[[ ${score.scoreValue + " " + score.scoreUnit}]]</p>
                            </div>
                            <div class="flex flex-wrap px-6 py-2">
                                <div th:if="${score.loop}" class="my-1 md:my-0 bg-lime-100 border-2 rounded-md border-lime-200 mx-2 py-1 px-2">
                                    <p>Loop</p>
                                </div>
                                <div th:if="${score.unitNumber != null}" class="my-1 md:my-0 bg-lime-100 border-2 rounded-md border-lime-200 mx-2 py-1 px-2">
                                    <p>[[ ${score.unitNumber + " " + score.routineUnit}]]</p>
                                </div>
                                <div th:if="${score.cushionLimit != null}" class="my-1 md:my-0 bg-lime-100 border-2 rounded-md border-lime-200 mx-2 py-1 px-2">
                                    <p th:if="${score.cushionLimit == 1}">[[ ${"Max " + score.cushionLimit + " cushion"} ]]</p>
                                    <p th:if="${score.cushionLimit != 1}">[[ ${"Max " + score.cushionLimit + " cushions"} ]]</p>
                                </div>
                                <div th:if="${score.potInOrder}" class="my-1 md:my-0 bg-lime-100 border-2 rounded-md border-lime-200 mx-2 py-1 px-2">
                                    <p>Pot in order</p>
                                </div>
                                <div th:if="${score.stayOnOneSideOfTable}" class="my-1 md:my-0 bg-lime-100 border-2 rounded-md border-lime-200 mx-2 py-1 px-2">
                                    <p>Stay on one side of the table</p>
                                </div>
                            </div>
                            <div class="flex flex-wrap px-2 py-2">
                                <div th:if="${score.note != null}" class="my-1 md:my-0 bg-gray-100 border-2 border-gray-100 mx-2 py-1 px-2">
                                    <p>[[ ${"Note: " + score.note}]]</p>
                                </div>
                            </div>
                        </div>
                        <div class="flex-none flex flex-col justify-center items-center ml-4">
                            <button id="viewScoreStatsButton" class="scoreControlButton flex items-center justify-center mx-2 mt-2 mb-1 text-white bg-green-800 hover:bg-green-950 hover:text-white rounded-md border-solid border-2 border-green-800 disabled:bg-gray-400 disabled:border-gray-500">
                                <a th:href="@{${score.statsUrl + '&from=' + fromTime + '&to=' + toTime}}">
                                    <svg fill="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
                                        <g stroke-width="0"/>
                                        <g stroke-linecap="round" stroke-linejoin="round"/>
                                        <g>
                                            <path d="M20 7h-4V4c0-1.103-.897-2-2-2h-4c-1.103 0-2 .897-2 2v5H4c-1.103 0-2 .897-2 2v9a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V9c0-1.103-.897-2-2-2zM4 11h4v8H4v-8zm6-1V4h4v15h-4v-9zm10 9h-4V9h4v10z"/>
                                        </g>
                                    </svg>
                                </a>
                            </button>
                            <button id="deleteScoreButton" th:attr="data-scoreId=${score.id}" class="deleteScoreButton scoreControlButton flex items-center justify-center mx-2 mb-2 text-white bg-green-800 hover:bg-green-950 hover:text-white rounded-md border-solid border-2 border-green-800 disabled:bg-gray-400 disabled:border-gray-500">
                                <svg fill="#ffffff" version="1.1" id="Layer_1" xmlns:x="&amp;ns_extend;" xmlns:i="&amp;ns_ai;" xmlns:graph="&amp;ns_graphs;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve" stroke="#ffffff">
                                    <g stroke-width="0"/>
                                    <g stroke-linecap="round" stroke-linejoin="round"/>
                                    <g>
                                        <metadata>
                                            <sfw>
                                                <slices></slices>
                                                <slicesourcebounds width="505" height="984" bottomleftorigin="true" x="0" y="-984"></slicesourcebounds>
                                            </sfw>
                                        </metadata>
                                        <g> <g> <g> <path d="M9,3H7c0-1.7,1.3-3,3-3v2C9.4,2,9,2.4,9,3z"/> </g> </g> <g> <g> <path d="M17,3h-2c0-0.6-0.4-1-1-1V0C15.7,0,17,1.3,17,3z"/> </g> </g> <g> <g> <polygon points="17,6 7,6 7,3 9,3 9,4 15,4 15,3 17,3 "/> </g> </g> <g> <g> <rect x="10" width="4" height="2"/> </g> </g> <g> <g> <path d="M21,6H3C2.4,6,2,5.6,2,5s0.4-1,1-1h18c0.6,0,1,0.4,1,1S21.6,6,21,6z"/> </g> </g> <g> <g> <path d="M19,24H5c-0.6,0-1-0.4-1-1V9c0-0.6,0.4-1,1-1h14c0.6,0,1,0.4,1,1v14C20,23.6,19.6,24,19,24z M6,22h12V10H6V22z"/> </g> </g> <g> <g> <path d="M10,20c-0.6,0-1-0.4-1-1v-6c0-0.6,0.4-1,1-1s1,0.4,1,1v6C11,19.6,10.6,20,10,20z"/> </g> </g> <g> <g> <path d="M14,20c-0.6,0-1-0.4-1-1v-6c0-0.6,0.4-1,1-1s1,0.4,1,1v6C15,19.6,14.6,20,14,20z"/> </g> </g> </g>
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-row justify-center items-center">
                <button th:disabled="${pageOfScores.currentPageNumber == 1}" id="firstPageButton" class="pageControlButton flex items-center justify-center m-4 mx-2 text-white bg-green-800 hover:bg-green-950 hover:text-white rounded-md border-solid border-2 border-green-800 disabled:bg-gray-400 disabled:border-gray-500">
                    <svg fill="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <g stroke-width="0"></g>
                        <g stroke-linecap="round" stroke-linejoin="round"></g>
                        <g>
                            <path d="m16.293 17.707 1.414-1.414L13.414 12l4.293-4.293-1.414-1.414L10.586 12zM7 6h2v12H7z"></path>
                        </g>
                    </svg>
                </button>
                <button th:disabled="${pageOfScores.currentPageNumber == 1}" id="prevPageButton" class="pageControlButton flex items-center justify-center m-4 mx-2 text-white bg-green-800 hover:bg-green-950 hover:text-white rounded-md border-solid border-2 border-green-800 disabled:bg-gray-400 disabled:border-gray-500">
                    <svg fill="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <g stroke-width="0"></g>
                        <g stroke-linecap="round" stroke-linejoin="round"></g>
                        <g>
                            <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
                        </g>
                    </svg>
                </button>
                <p class="mx-6">Page <span id="currentPageNumber">[[ ${pageOfScores.currentPageNumber} ]]</span> of <span id="totalPages">[[ ${pageOfScores.totalPages} ]]</span></p>
                <button th:disabled="${pageOfScores.currentPageNumber >= pageOfScores.totalPages}" id="nextPageButton" class="pageControlButton flex items-center justify-center m-4 mx-2 text-white bg-green-800 hover:bg-green-950 hover:text-white rounded-md border-solid border-2 border-green-800 disabled:bg-gray-400 disabled:border-gray-500">
                    <svg fill="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <g stroke-width="0"></g>
                        <g stroke-linecap="round" stroke-linejoin="round"></g>
                        <g>
                            <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
                        </g>
                    </svg>
                </button>
                <button th:disabled="${pageOfScores.currentPageNumber >= pageOfScores.totalPages}" id="lastPageButton" th:attr="data-lastPageNum=${pageOfScores.totalPages}" class="pageControlButton flex items-center justify-center m-4 mx-2 text-white bg-green-800 hover:bg-green-950 hover:text-white rounded-md border-solid border-2 border-green-800 disabled:bg-gray-400 disabled:border-gray-500">
                    <svg fill="#ffffff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <g stroke-width="0"></g>
                        <g stroke-linecap="round" stroke-linejoin="round"></g>
                        <g>
                            <path d="M7.707 17.707 13.414 12 7.707 6.293 6.293 7.707 10.586 12l-4.293 4.293zM15 6h2v12h-2z"></path>
                        </g>
                    </svg>
                </button>
            </div>
        </div>
    </section>
</div>