<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<div layout:fragment="page-content">
    <section class="pt-6 pb-4">
        <div class="container-xl lg:container m-auto">
            <h2 class="text-3xl font-bold text-green-800 mb-2 text-center font-ubuntu">
                Page Not Found
            </h2>
            <p class="mx-auto my-10 text-center">The page you're looking for can't be found.</p>
        </div>
    </section>
</div>